[buildout]
extends = https://dist.plone.org/release/4.3.19/versions.cfg
unzip = true
newest = false
versions = versions
#prefer-final = true
relative-paths = true

index = https://pypi.python.org/simple/

find-links += 
http://dist.plone.org/release/4.3.19
https://effbot.org/downloads/
#https://pypi.python.org/pypi/

parts = instance

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
relative-paths = true
eggs =
    Plone
    Pillow


[versions]

transaction = 
pip = 19.3.1  
#docutils = 0.14
plone.subrequest = 1.8
plone.formwidget.multifile = 2.0
setuptools = 
zc.buildout = 
Pillow = 5.1.0
plone.schema = 1.2.0
cssselect2 = 0.2.2
soupsieve = 1.9.5

buildout.sanitycheck = 1.0.2
collective.recipe.backup = 4.0
plone.recipe.unifiedinstaller = 4.3.2

